@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial, Arial, Helvetica, sans-serif;
}

body {
	background-color: #f5f5f5;
	
}

.content {
	display:flex;
	justify-content:space-around;
}


.transaction-content{
	padding: 20px;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	
}
div.transaction-content{

	width: 50%;
	min-width: 700px
	
}
.inflow-outflow, .header-contain {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	gap: 20px;
}


.header-contain {
	flex-direction: row;
	justify-content: space-around;
	padding: 0;
	
}
.header-contain div{
	padding: 20px;
	font-size: 1em;
	display:block;
}
.header-contain div:hover{
	background-color: #C0C0C0;
	cursor: pointer;
}
.income, .outcome {
	font-size: 18px;
	color: #666;
	display: flex;
	justify-content: space-between;
	
}



.balance {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	display: flex;
	justify-content: flex-end;
}

.amount {
	font-size: 20px;
	margin-left: 10px;
}

.positive {
	color: #4caf50;
}

.negative {
	color: #f44336;
}

.transactions {
	margin-top: 20px;
}

.transaction-day {
	margin-bottom: 5px;
	background-color: #fff;

}

.date {
	font-size: 20px;
	color: #ff8040;
	margin-bottom: 10px;
	font-weight: bold;
}

.day, .month {
	font-size: 14px;
	color: #999;
}

.transaction-day-head {
	display: flex;
	justify-content: space-between;
	padding:10px;
}

div.transaction-day-head {
	margin-top: 15px;
	border-top: 2px solid #ccc;
}
.transaction {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding:10px;
}
.transaction:hover{
	background-color: #C0C0C0;
	cursor: pointer;
}
.transaction .icon {
	margin-right: 10px;
}

.transaction .icon img {
	width: 40px;
	height: 40px;
}

.details {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.category {
	font-size: 16px;
	color: #000000;
    font-weight: bold;
}

.note {
	font-size: 12px;
	color: #999;
}

.amount {
	font-size: 16px;
	font-weight: bold;
}

.main-content {
    width: 100%; 
   
}

/* -----------------form thêm giao dịch----------------------------------*/

#transactionForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Modal content styling */
#transactionForm div {
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

#transactionForm .error-message{
	width: 100%;
	margin:0;
	padding:0;
}

#transactionForm .save-btn, .cancel-btn{
	width:100%;
}
.transaction-btn-container {
    display: flex;
}

/* Form elements */
h3 {
    text-align: center;
}

.label {
    display: block;
    margin-bottom: 5px;
}


input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
	

/* Button styling */
button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}


 /* Toàn bộ màn hình */
    .loading-screen {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      z-index: 9999;
    }

    /* Spinner tròn */
    .spinner {
      width: 50px;
      height: 50px;
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    /* Animation cho spinner */
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }


/* Định dạng cho các thông báo lỗi */
.error-message {
    display: none;
    color: red;
    font-size: 0.85em;
    font-style: italic;
}

/* Căn chỉnh các label và input */

input, select {
    width: 100%; /* Để các trường input và select chiếm toàn bộ chiều rộng của khung chứa */
    padding: 8px; /* Khoảng đệm bên trong input */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước của input */
}

/* Định dạng nút Lưu và Hủy */

.save-btn, .cancel-btn {
    font-size: 1em;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-btn {
    background-color: #4CAF50; /* Màu nền xanh cho nút Lưu */
    color: white;
}

.cancel-btn {
    background-color: #f44336; /* Màu nền đỏ cho nút Hủy */
    color: white;
}

